.ice{margin:0 auto;
   width:900px;
   height:900px;
   background: #ffc509 url('img/sun.png') 85% 10%/40% no-repeat;
}
.ice:before, .ice:after{
content:'Take me!!!';
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
text-shadow: 1px 1px 2px black, 0 0 1em red; 
font-size:3em;
color:#8301fd;
position: absolute;
transform: rotate(-30deg);
margin-left:10px;
top:20%;
animation: text 5s ease infinite;
}
.ice:after{
   top:65%;
   left:60%;
   transform: rotate(30deg);
}
@keyframes text{

   50%{
      transform:scale(0.8)
   }
}

.ice__back {
   margin:0 auto;
   width:35%;
   height:55%;
   top:27%;
   position: relative;
   animation: jump 1s ease-in-out infinite;
}
.ice__shadow{
   width:35%;
   height:7%;
   margin:34% auto;
position: relative;
z-index: 1;
   background: #bababa;
   border-radius: 50%;
   animation: shadow 1s ease-out infinite;
}
@keyframes jump{
   40%{top:1%};
   95%{top:10%}
}

@keyframes shadow{
   0%{background:#808080;}
   50%{background: #bababa;
   transform: scale(0.7); }
   100%{ 
      background:#808080;}
}

.ice__iceCream {
   margin:0 auto;
   border-radius: 200px 200px 15% 15%;
   width:100%;
   height:100%;
   background: #eb98bf;
   position:relative;

}

.ice__iceCream:after{
   width:15%;
   height:20%;
   transform: rotate(-45deg);
   content:'';
   position:absolute;
   background: #eb98bf;
   border-radius: 50%;
   top:15%;
   left:70%;
}
.ice__iceCream:before{
   width:100%;
   height:97%;
   content:'';
   position:absolute;
   background: #f771a7;
   border-radius: 200px 200px 15% 15%;
   top:3%;
   left:0%;
}

.ice__eyes {
   display:flex;
width:60%;
height:12%;
margin:100% 20%;
justify-content: space-between;
position:absolute;

}
.ice__eye {
   width:13%;
   height:40%;
   border-radius: 50%;
}
.ice__eye:before {
   content: '';
   width:13%;
   height:40%;
   background: #ff006b;
   border-radius: 50%;
   animation: eye 2s ease-in-out infinite;
   position:absolute;
}
.ice__eye:after{
   width:4%;
   height:12%;
   content:'';
   position:absolute;
   background: #f3d1ef;
   border-radius: 50%;
   top:7%;
 margin-left:10px;
 animation: eye 2s ease-in-out infinite;
}

@keyframes eye {
   90% { transform: none; }   
   95% { transform: scaleY(0.1); }
}

.ice__mouth {
   position:absolute;
width:30%;
height:6%;
background:#ff006b;
margin:110% 35%;
border-radius: 20px 20px 50px 50px
}
.ice__stick {
   width:20%;
   height:20%;
   margin: 0 auto;
   background: #e9ac7f;
   border-radius: 0% 0% 40% 40%;
   position: relative;
   z-index: 5;
}
.ice__stick:before{
   width:100%;
   height:12%;
   content:'';
   position:absolute;
   background: #a55317
}
